* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sidebar {
    position: absolute;
    background: #448d3a;
    color: rgb(247, 247, 247);
}

h2 {
    text-align: center;
    margin: 0;
    padding: 7px;
    background: #07c293;
}

ul {
    list-style: none;
    width: 300px;
    height: max-content;
}

ul>li {
    display: block;
    text-decoration: none;
    padding: 10px 0px;
}

ul>li>ul {
    display: none;
}

ul>li:hover>ul {
    display: block;
    height: 100%;
}

.opcion {
    outline: 1px solid #3b530e;
    font-size: larger;
}

.subOpcion {
    background: #ce903f;
    font-size: medium;
}

.subOpcion:hover {
    background: #337c2a;
    border-left: 3px solid rgb(228, 20, 20);
    padding-left: 5px;
}