* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Menu {
    padding-left: 15px;
}

div.sidebar {
    position: fixed;
    background: #448d3a;
    color: rgb(158, 207, 240);
    width: 200px;
    height: 100%;
    overflow: auto;
}

.sidebar>h2 {
    text-align: center;
    margin: 0;
    padding: 7px;
    background: #8b32d4;
}

a {
    display: block;
    text-decoration: none;
    padding: 7px;
    font-size: larger;
    color: rgb(158, 19, 19);
}

a:visited {
    color: #fff;
}

a:hover {
    background: #4249a3;
    border-left: 4px solid rgb(207, 253, 0);
    padding-left: 5px;
}

a:active {
    background: #2a4e70;
    border-left: 3px solid rgb(44, 160, 82);
    color: #fff;
}

div.content {
    float: left;
    height: 100px;
    padding: 20px;
    width: calc(100%-200px);

}

.subOpcion {
    display: none;
}

.Flexbox{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #7e4bcf;
}
.content>.subOpcion {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    margin: auto;
}
.content {
    display: flex;
    flex-direction: column;
}

#Inicio:target,
#PlayStation:target,
#Xbox:target,
#Nintendo:target,
#Steam:target,
#Android:target {
    display: block;
}

input {
    display: none;
}

input:checked+.sidebar {
    width: 0px;
}

input:checked~.content {
    margin-left: 10px;
    width: 100%;
}

label {
    font-size: large;
    font-weight: bold;
    color: #083644;
}

.Icono {
    vertical-align: middle;
}

.Imagen {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-weight: normal;
    color: #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

#Home {
    text-align: center;
    font-size: xx-large;
}

.Detalles {
    text-align: justify;
    font-size: x-large;
}

div.sidebar {
    float: left;
    width: 200px;
    height: 100%;
    overflow: auto;
    background: #448d3a;
    color: rgb(158, 207, 240);
}
.sidebar>h2 {
    text-align: center;
    margin: 0;
    padding: 7px;
    background: #8b32d4;
}

a {
    display: block;
    text-decoration: none;
    padding: 7px;
    font-size: larger;
    color: rgb(158, 19, 19);
}
a:visited {
    color: #fff;
}

a:hover {
    background: #4249a3;
    border-left: 4px solid rgb(207, 253, 0);
    padding-left: 5px;
}

a:active {
    background: #2a4e70;
    border-left: 3px solid rgb(44, 160, 82);
    color: #fff;
}

div.content {
    background-color: #7e4bcf;
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}
@media screen and (max-width: 1200px) {
    div.sidebar {
        position: relative;
        width: 100%;
        height: auto;
    }
    .sidebar h2 {
        float: none;
        text-align: center;
    }
    .sidebar a {
        padding: 5px 0%;
        float: left;
        width: calc(100%/6);
        font-size: large;
    }
    div.content {
        margin-left: 0;
    }
    input:checked+.sidebar {
        height: 0px;
    }
    input:checked~.content {
        margin-top: 0px;
    }
    #Home {
        font-size: medium;
        font-weight: bold;
    }
    .Imagen {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 800px) {
    .sidebar a {
        font-size: medium;
    }
    .sidebar a>img {
        width: 100px;
        height: 100px;
    }
    .Detalles {
        font-size: small;
    }
}

@media screen and (max-width: 600px) {
    .sidebar a {
        text-align: center;
        width: 100%;
    }
    a
    {
        text-align: center;
    }
    .sidebar>a:hover{
        border-bottom: 0px solid transparent;
        border: 1px solid transparent;
        color: violet;
    }
    div.slidebar {
        float:none;
        text-align: center;
        width: auto;
        height: 300px;
        flex-direction: column;
      }
    #Home {
        font-size: small;
    }
    .Imagen {
        width: 75px;
        height: 75px;
    }
    .Flexbox{
        height: 150hv;
        flex-direction: column;
    }
    div.content {
        margin-bottom: 0;
        width: 100%;
    }
}